<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GC_ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.45:58734/GC_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="GC_ServiceSoap"
                contract="GC_WebService.GC_ServiceSoap" name="GC_ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>